.card {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card__thumbnail {
	aspect-ratio: 16 / 9;
	position: relative;
	width: 100%;

	& img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}
}

.card__body {
	display: flex;
	flex-direction: column;
	background-color: var(--gray-500);
	gap: 24px;
	padding: 12px;
}

.card__body__price {
	align-self: flex-end;
	background-color: var(--blue-600);
	border-radius: 8px;
	color: var(--text-light);
	font-size: 18px;
	font-weight: 500;
	padding: 8px;
}
