<section class="browse">
	<aside class="browse__filters">
		<app-filter-list
			title="Genres"
			[options]="genres.value()"
			[(selectedOptions)]="selectedGenres"
		/>
		<app-filter-list
			title="Tags"
			[options]="tags.value()"
			[(selectedOptions)]="selectedTags"
			[showLimit]="10"
			[hasSearch]="true"
			[showAllButton]="true"
		/>
		<app-filter-list
			title="Platforms"
			[options]="platforms.value()"
			[(selectedOptions)]="selectedPlatforms"
		/>
	</aside>
	<div class="browse__catalog">
		<div class="browse__sort">
			<form class="browse__form" (submit)="$event.preventDefault()">
				<input
					aria-label="Search input"
					autocomplete="off"
					class="browse__input"
					type="text"
					name="searchField"
					placeholder="Search..."
					[ngModel]="getRawSearchTerm()"
					(ngModelChange)="updateSearchTerm($event)"
				/>
			</form>
		</div>
		@defer {
			<app-games-list [games]="games.value()" />
		} @loading (minimum 1.5s) {
			<app-games-skeleton />
		}
	</div>
</section>
