.app__container {
	margin: 32px auto 0;
	padding: 0 40px;
	width: auto;

	@media (min-width: 576px) {
		max-width: 540px;
	}

	@media (min-width: 768px) {
		max-width: 720px;
	}

	@media (min-width: 992px) {
		max-width: 960px;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}

app-layout-header {
	padding: 0 40px;
	position: sticky;
	top: 0;
	z-index: 100;
}
