<nav class="navbar">
	<a class="navbar__brand" routerLink="/">
		Logo Here
	</a>
	<ul class="navbar__menu">
		<li class="navbar__menu-item">Browse Games</li>
		<li class="navbar__menu-item">Community</li>
		<li class="navbar__menu-item">Support</li>
	</ul>
	<div class="navbar__actions">
		<button class="navbar__actions__search">
			<img src="assets/icons/search.svg" alt="Search">
		</button>
		<button class="button-main">Login</button>
		<button class="button-main">Register</button>
	</div>
</nav>
