.navbar {
	align-items: center;
	background-color: var(--gray-500);
	border-radius: 28px;
	display: flex;
	justify-content: space-between;
	margin: 32px auto;
	max-width: 1200px;
	padding: 8px 16px 8px 16px;
	width: 100%;
}

.navbar__brand {
	align-items: center;
	display: flex;
	height: 48px;
}

.navbar__menu {
	display: flex;
	column-gap: 16px;
}

.navbar__menu-item {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.navbar__actions {
	display: flex;
	column-gap: 16px;
}

.navbar__actions__search {
	align-items: center;
	display: flex;

	&:hover {
		cursor: pointer;
	}

	& svg {
		color: var(--gray-100);
		height: 32px;
		width: 32px;
	}
}
