<div class="search">
	<form class="search__form">
		<input
			autocomplete="off"
			class="search__form__input"
			type="text"
			name="searchField"
			placeholder="Search..."
			[ngModel]="searchService.getRawSearchTerm()"
			(ngModelChange)="searchService.updateSearchTerm($event)"
		/>
		<button class="search__form__button">
			<svg xmlns="http://www.w3.org/2000/svg">
				<use xlink:href="assets/main.svg#magnifying-glass"/>
			</svg>
		</button>
	</form>
	<div class="search__results" [class.show]="hasResults()">
		@if(searchService.searchResults.value().length === 0 && !searchService.searchResults.isLoading() && searchService.debouncedSearchTerm().length >= 3){
			<p>No results found for "{{searchService.debouncedSearchTerm()}}"</p>
		}
		@if(!searchService.searchResults.isLoading() && searchService.searchResults.value().length != 0){
			<ul class="search__results__list">
				@for(game of searchService.searchResults.value(); track game.id) {
					<li class="search__results__list-item" [routerLink]="['/game', game.slug]" (click)=selectItem()>
						<img [src]="game.cardImageUrl"/>
						<div class="search__results__list-item__content">
							<p>{{game.name}}</p>
							<p>
								@if(game.price > 0){
									{{game.price | currency:'EUR'}}
								}
								@else {
									Free
								}
							</p>
						</div>
					</li>
				}
			</ul>
		}
	</div>
</div>
