.highlight__title {
	margin-bottom: 12px;
}

.highlight__slider {
	height: 450px;
	width: 100%;
}

.highlight__slide {
	border-radius: 12px;
	overflow: hidden;

	& img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}
}

.highlight__overlay {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.4) 40%,
		rgba(0, 0, 0, 1) 100%
	);
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	border-radius: 4px;
	width: 100%;
}

.highlight__actions {
	align-items: center;
	display: flex;
	column-gap: 20px;
}

.highlight__price {
	font-size: 26px;
}
