.highlight {
	display: block;
	margin-bottom: 24px;
}

.highlight__title {
	margin-bottom: 12px;
}

.highlight__slider {
	display: block;
	height: 250px;
	width: 100%;

	@media (max-width: 768px) {
		height: 300px;
	}

	@media (min-width: 1024px) {
		height: 450px;
	}
}

.highlight__slide {
	border-radius: 12px;
	overflow: hidden;
	position: relative;

	& img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}
}

.highlight__overlay {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.6) 20%,
		rgba(0, 0, 0, 1) 100%
	);
	border-radius: 4px;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: 20px;
	position: absolute;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
	}
}

.highlight__actions {
	align-items: center;
	column-gap: 20px;
	display: flex;
	flex-shrink: 0;

	@media (max-width: 768px) {
		width: 100%;
		justify-content: space-between;
	}
}

.highlight__price {
	font-weight: 700;
	font-size: clamp(18px, 4vw, 26px);
}
