.game-list,
.skeleton-list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin: 0 auto;
	gap: 24px;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 992px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.skeleton-list {
	opacity: 0;
	animation: fadeIn 0.3s 0.2s forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
