.filter-list {
	overflow: hidden;
	padding-bottom: 12px;
}

.filter-list__header {
	align-items: center;
	display: flex;
}

.filter-list__header__title {
	cursor: pointer;
}

.filter-list__header__title-count {
	color: var(--text-light);
	font-size: 16px;
	font-weight: 600;

	& svg {
		color: var(--gray-100);
		height: 24px;
		width: 24px;
	}
}

.filter-list__search {
	background-color: var(--blue-600);
	border: none;
	border-radius: 4px;
	color: var(--gray-100);
	font-size: 18px;
	margin-top: 8px;
	order: -999;
	outline: none;
	padding: 8px 12px;
	width: 100%;

	&::placeholder {
		color: var(--gray-300);
	}
}

.filter-list__button {
	color: var(--text-light);
	width: fit-content;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.filter-list__header::before {
	border: solid var(--text-light);
	border-width: 0 2px 2px 0;
	content: '';
	display: inline-block;
	height: 12px;
	margin-inline: 6px 12px;
	transform: rotate(-45deg);
	transition: transform 0.3s ease;
	width: 12px;
}

.filter-list__header:has(+ .filter-list__options.filter-list__options--show)::before {
	transform: rotate(45deg);
}

.filter-list__options {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 0;
	overflow: hidden;
	transition:
		height 1s ease,
		padding 1s ease;

	&.filter-list__options--show {
		height: auto;
		padding: 8px 0;
	}
}

filter-option:has(input:checked) {
	order: -100;
}
